body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url(./src/image/reg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
} 

.card {
    background-color: rgba(139, 139, 219, 0.8);
    color: #fff;
    box-shadow:  2px 2px 5px black;
    padding: 2rem;
    width: 20rem;
    border-radius: 5%;
    align-items: flex-start;
    margin: 1rem;
}

#button{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
}

.search{
    display: flex;
    color: white;
    border: none;
    outline: none;
    align-items: center;
    justify-content: space-evenly;
}

#text{
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    border-radius: 18px;
    height: 2rem;
    color: white;
}   

.discription {
    text-transform: capitalize;
}

.temp {
    font-size: xx-large;
}

.flex {
    display: flex;
    align-items: center;
}